$c-page-background:#e8e8e8;

$c-page-text-invert:#FFFFFF;

$c-page-accent:			#1a54ac;
$c-page-accent-hover:	#002c7c;
$c-page-accent-click:	#5b80de;


//Page Notifiers colours
$c-red: #f44336;
$c-red-light:#ffdddd;
$c-amber: #ff9800;
$c-yellow-light:#ffffcc;
$c-green:#4CAF50;
$c-green-light:#ddffdd;
$c-blue:#2196F3;
$c-blue-light:#ddffff;
