/*
88888888888       88
88          ,d    88
88          88    88
88aaaaa   MM88MMM 88,dPPYba,  ,adPPYYba, 8b,dPPYba,
88"""""     88    88P'    "8a ""     `Y8 88P'   `"8a
88          88    88       88 ,adPPPPP88 88       88
88          88,   88       88 88,    ,88 88       88
88888888888 "Y888 88       88 `"8bbdP"Y8 88       88
*/
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: inherit; }

input {
  outline: none;
  border: none; }

body {
  font: 100% "Raleway", sans-serif;
  font-weight: 500;
  background: #e8e8e8;
  width: 100vw;
  height: 100vh;
  left: 0;
  transition: all 0.3s; }

.ess-logo {
  font-size: 40px;
  font-weight: normal;
  color: #FFFFFF; }

h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 16px;
  padding: 0; }

h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 16px;
  padding: 0; }

h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 16px;
  padding: 0; }

p {
  font-size: 16px;
  font-weight: normal;
  margin: 16px;
  padding: 0; }

.ess-main a {
  color: #1a54ac;
  margin: 16px;
  padding: 0; }

.ess-main a:hover {
  color: #002c7c;
  margin: 16px;
  padding: 0; }

.ess-head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: #1a54ac;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  -webkit-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  transition: all 0.3s; }

.ess-main {
  width: 100vw;
  background: #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 96px; }

.ess-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  max-width: 1000px;
  width: 100%; }

.ess-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: 1000px;
  width: 100%; }

.ess-row-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  max-width: 1000px;
  width: 100%; }

.ess-row-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  max-width: 1000px;
  width: 100%; }

.wide {
  justify-content: space-between !important; }

.ess-price-column {
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  flex: 1;
  margin: 8px;
  text-align: center;
  max-width: 400px;
  transition: all 0.3s; }

.ess-price-column:hover {
  -webkit-box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.5); }

.ess-price-column > ul {
  list-style-type: none;
  transition: all 0.3s; }

.ess-price-column-header {
  background-color: #1a54ac;
  color: white;
  font-size: 16px;
  margin: 0;
  padding: 16px; }

.ess-price-column-image {
  height: 200px;
  background-color: #5b80de;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.ess-price-column-price {
  margin: 0;
  padding: 16px;
  font-size: 16px;
  color: white;
  background-color: #5b80de; }

.ess-price-column-info {
  margin: 0;
  padding: 12px;
  font-size: 16px;
  background-color: #FFFFFF;
  border-bottom: 2px solid lightgrey; }

.ess-price-column-button {
  margin: 0;
  padding: 8px;
  font-size: 16px;
  background-color: lightgrey; }

.ess-mobile-menu-button {
  font-size: 32px;
  transition: all 0.3s;
  display: none; }

.ess-mobile-menu-button:after {
  content: '\2630'; }

.ess-mobile-menu-button:hover {
  cursor: pointer; }

.ess-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row; }

.ess-menu-item {
  display: block;
  transition: all 0.3s;
  margin: 8px;
  padding: 16px; }

.ess-menu-item:hover {
  background: #002c7c; }

.ess-dropdown {
  position: relative;
  display: inline-block; }

.ess-dropdown::after {
  content: '\25bc'; }

.ess-menu-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 128px;
  background: #1a54ac;
  left: 0;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 8px;
  margin-top: 16px; }

.ess-menu-dropdown .ess-menu-item {
  margin: 0;
  padding: 8px; }

.ess-dropdown:hover .ess-menu-dropdown {
  display: block; }

.ess-card {
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  margin: 16px;
  padding: 16px;
  background: white;
  width: 100%;
  border-radius: 4px; }

input {
  margin: 8px;
  padding: 8px;
  border: 1px solid #1a54ac;
  font-size: 16px;
  transition: all 0.3s;
  border-radius: 4px; }

input:focus {
  -webkit-box-shadow: 0 0 10px 0 #5b80de;
  -moz-box-shadow: 0 0 10px 0 #5b80de;
  box-shadow: 0 0 10px 0 #5b80de; }

input[type="text"] {
  margin: 8px;
  padding: 8px;
  border: 1px solid #1a54ac;
  font-size: 16px;
  transition: all 0.3s;
  border-radius: 4px; }

input[type="text"]:focus {
  -webkit-box-shadow: 0 0 10px 0 #5b80de;
  -moz-box-shadow: 0 0 10px 0 #5b80de;
  box-shadow: 0 0 10px 0 #5b80de; }

.ess-button-disabled {
  background: grey !important;
  border: none !important; }

.ess-button-disabled:hover {
  background: grey !important;
  cursor: not-allowed !important; }

.ess-button-disabled:active {
  background: grey !important;
  cursor: not-allowed !important; }

.ess-button-disabled:focus {
  background: grey !important;
  cursor: not-allowed !important;
  box-shadow: none !important; }

.ess-button, input[type="button"] {
  margin: 8px;
  padding: 16px;
  background: #1a54ac;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 2px;
  transition: all 0.3s;
  border-radius: 4px; }

.ess-button:hover, input[type="button"]:hover {
  background: #002c7c;
  cursor: pointer; }

.ess-button:active, input[type="button"]:active {
  background: #5b80de; }

.ess-select, select {
  margin: 8px;
  padding: 8px;
  border: 1px solid #1a54ac;
  font-size: 16px;
  transition: all 0.3s;
  border-radius: 4px; }

.ess-select:focus, select:focus {
  -webkit-box-shadow: 0 0 10px 0 #5b80de;
  -moz-box-shadow: 0 0 10px 0 #5b80de;
  box-shadow: 0 0 10px 0 #5b80de; }

.ess-banner {
  width: 100%;
  margin: 8px;
  padding: 16px;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row; }

.ess-banner > i {
  text-align: center;
  font-size: 32px;
  margin: 4px;
  padding: 0;
  width: 48px; }

.ess-danger {
  background: #ffdddd;
  color: #f44336;
  border: 1px solid #f44336;
  transition: all 0.3s; }

.ess-danger:hover {
  -webkit-box-shadow: 0 0 5px 1px #f44336;
  -moz-box-shadow: 0 0 5px 1px #f44336;
  box-shadow: 0 0 5px 1px #f44336; }

.ess-warning {
  background: #ffffcc;
  color: #ff9800;
  border: 1px solid #ff9800;
  transition: all 0.3s; }

.ess-warning:hover {
  -webkit-box-shadow: 0 0 5px 1px #ff9800;
  -moz-box-shadow: 0 0 5px 1px #ff9800;
  box-shadow: 0 0 5px 1px #ff9800; }

.ess-success {
  background: #ddffdd;
  color: #4CAF50;
  border: 1px solid #4CAF50;
  transition: all 0.3s; }

.ess-success:hover {
  -webkit-box-shadow: 0 0 5px 1px #4CAF50;
  -moz-box-shadow: 0 0 5px 1px #4CAF50;
  box-shadow: 0 0 5px 1px #4CAF50; }

.ess-info {
  background: #ddffff;
  color: #2196F3;
  border: 1px solid #2196F3;
  transition: all 0.3s; }

.ess-info:hover {
  -webkit-box-shadow: 0 0 5px 1px #2196F3;
  -moz-box-shadow: 0 0 5px 1px #2196F3;
  box-shadow: 0 0 5px 1px #2196F3; }

.ess-snack {
  opacity: 0;
  display: none;
  min-width: 250px;
  margin-left: -125px;
  background-color: #1a54ac;
  color: #e8e8e8;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 32px;
  font-size: 16px;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5); }

.ess-hidden {
  display: none;
  opacity: 0; }

h1.ess-full {
  width: 100%; }

table {
  border-collapse: collapse;
  width: 100%;
  transition: all 0.3s; }

th, td {
  text-align: left;
  margin: 0;
  padding: 16px; }

tr {
  transition: all 0.3s; }

tr:nth-child(even) {
  background-color: #f2f2f2; }

tr:hover {
  background-color: #d2d2d2; }

th {
  background-color: #1a54ac;
  color: white; }

.ess-footer {
  width: 100vw;
  background: #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 32px;
  padding-bottom: 32px; }

@media only screen and (max-width: 1000px) {
  .ess-wrapper {
    width: 85%; } }
@media only screen and (max-width: 768px) {
  .ess-menu {
    position: fixed;
    top: 0;
    left: -60vw;
    width: 60vw;
    background: #1a54ac;
    height: 100%;
    -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    transition: all 0.3s; }

  .ess-menu-item {
    width: 80%;
    font-size: 20px; }

  .ess-dropdown::after {
    content: ''; }

  .ess-menu-dropdown {
    display: block;
    position: relative;
    background: #1a54ac;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 8px;
    margin-top: 16px; }

  .ess-menu-dropdown .ess-menu-item {
    margin: 0;
    padding: 8px; }

  .ess-mobile-menu-button {
    display: block; }

  .ess-wrapper {
    width: 85%; } }

/*# sourceMappingURL=ess.css.map */
